*,
*::before,
*::after {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

:root {
 font-size: 62.5%;
}

body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 display: flex;
 justify-content: center;
 background-color: #1a1a1a;
}